html {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

.header {
	margin: 0 auto;
	padding: 0;
	height: 60px;
	background-color: #333333;
	clear: both;
}

.container {
	margin: 0 auto;
	padding: 0;
}

/*need to redo margins for list class*/
.nav {
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

.nav li {
	display: inline;
	word-spacing: 50px;
}

/* unvisited link */
.nav a:link {}

/* visited link */
.nav a:visited {}

/* mouse over link */
.nav a:hover {
	transition: background-color 0.5s ease;
	transition: color 0.3s ease;
	color: #333333;
	background-color: hsla(360, 62%, 99%, 0.92);
}

.nav a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 600;
	font-family: "Raleway", Times, serif;
	padding: 15px 25px;
}


 /*---------------------------------------------------------------------------------------------------------*/

.article {
	margin: 0 185px;
	padding: 0;
	/*border: 1px dotted black;*/
	font-family: Times, sans-serif;
}

.article #title {
	font-size: 50px;
	font-weight: 550;
	border-bottom: 1px dotted black;
	padding: 20px 0px;
	margin-bottom: 10px;
}

.article #last_updated {
	font-size: 16px;
	color: #808080;
	margin: 0;
}

.article h6 {
	font-size: 25px;
	font-weight: 600;
	margin: 40px 0 10px 0;
}

.article p {
	margin: 0;
}
.article li, p, .lh {
	/*border: 1px dotted black;*/
	font-size: 18px;
}

.article .dot {
	margin: 10px 0;
}

.article .dot li {
	margin-left: 2em;
}
.article .circle li {
	list-style-type: circle; 
	margin-left: 2em;
}

.article .square li {
	list-style-type: square;
	margin-left: 2em;
}

#gbc_img {
	float: left;
	padding: 5px;
}

#gbc_img img {
	height: 250px;
}

#gbc_text {
	float: left;
	height: 265px;	
	padding: 0;
}

#gbc_text li {
	font-size: 13px;
}

#gbc_pd {
 	clear: both;
}

#pd_img {
	clear: left;
	float: left;
	margin: 10px;
}

#pd_img img {
	height: 250px;
}

#pd_text {
	float: right;
}
#pd_text li {
	font-size: 13px;
}

#full_text {
	clear: both;
}

#full_img {
	margin: 20px 0;
	clear: both;
}

#full_img img {
	height: 700px;
}


/* footer */
footer {
	margin: 20px 0 0 0;
	padding: 0;
	height: 60px;
	background-color: #333333;
	clear: both;
	color: white;
	font-family: Times, serif;
}

footer #foot_cont {
	position: absolute;
	margin: 7px 0 0 70px;
}

footer p {
	font-size: 14px;
}